@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .input_number_arrow_none::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
}

body {
  font-family: 'Pretendard';
}
